@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#__next {
  padding-top: 550px;
  background: url('img/mint-banner.png') no-repeat;
  background-size: contain;
}

.frame-mintbtn {margin-bottom: 0;}
.frame-mintbtn .flex-col {
  border: 2px solid black;
  border-radius: 5px;
  text-align: center;
  height: 220px;
  width: 49%;
  margin: 0 1%;
  padding-top: 10px;
}

.frame-wallet {
  background: url('img/ipad.png') no-repeat;
  width: 1024px;
  height: 748px;
  padding: 140px 100px 50px 170px;
  color: white;
}

.frame-wallet .p-3 {
  background-color: #FFF;
  border: 2px solid grey;
  color: black;
}