@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.frame-mintbtn .flex-col {
  border: 2px solid black;
  border-radius: 5px;
  text-align: center;
  height: 220px;
  width: 49%;
  margin-right: 1%;
  padding-top: 10px;
}

.frame-wallet {
  background: url('img/ipad.png') no-repeat;
  width: 880px;
  height: 592px;
  padding: 30px 115px;
}